
a {
    color: #754b23 ;
    text-decoration: none;
    background-color: transparent;
    :hover{
        text-decoration: none;
        color: sandybrown;
    }

};

.link {
    margin-left: 15px;
    margin-right: 15px;
}